body {
    background-image: url("/assets/img/bg.jpg");
    background-color: rgba(253, 253, 253, 0.822);
}

h1, h2, p, label, ul, li {
    color: white;
}

.h2-menu {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

#main-container {
    /* background-color: rgb(43, 41, 41);
    padding-top: 10px;
    opacity: .9; */
    margin-bottom: 20px;
}

.burger {
    position: relative;
    padding-bottom: 10px;
}

.devoured {
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

.box {
    border: 1px solid white;
}