
	<div class="row">
	<div class="devoured">
	{{#if devoured}}
		<button class="change-devoured btn btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">
			Devour it!
		</button>
	{{/if}}
	</div>
	<div class="burger">
	{{burger_name}}
	</div>
	</div>

